<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Discord.Net" version="2.4.0" targetFramework="net47" />
  <package id="Discord.Net.Commands" version="2.4.0" targetFramework="net47" />
  <package id="Discord.Net.Core" version="2.4.0" targetFramework="net47" />
  <package id="Discord.Net.Rest" version="2.4.0" targetFramework="net47" />
  <package id="Discord.Net.Webhook" version="2.4.0" targetFramework="net47" />
  <package id="Discord.Net.WebSocket" version="2.4.0" targetFramework="net47" />
  <package id="Google.Api.CommonProtos" version="2.2.0" targetFramework="net47" />
  <package id="Google.Api.Gax" version="3.2.0" targetFramework="net47" />
  <package id="Google.Api.Gax.Grpc" version="3.2.0" targetFramework="net47" />
  <package id="Google.Api.Gax.Grpc.GrpcCore" version="3.2.0" targetFramework="net47" />
  <package id="Google.Apis" version="1.48.0" targetFramework="net47" />
  <package id="Google.Apis.Auth" version="1.48.0" targetFramework="net47" />
  <package id="Google.Apis.Core" version="1.48.0" targetFramework="net47" />
  <package id="Google.Cloud.Firestore" version="2.3.1" targetFramework="net47" />
  <package id="Google.Cloud.Firestore.V1" version="2.2.0" targetFramework="net47" />
  <package id="Google.LongRunning" version="2.1.0" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.13.0" targetFramework="net47" />
  <package id="Grpc.Auth" version="2.31.0" targetFramework="net47" />
  <package id="Grpc.Core" version="2.31.0" targetFramework="net47" />
  <package id="Grpc.Core.Api" version="2.31.0" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net47" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.9.0" targetFramework="net47" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.9.0" targetFramework="net47" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="3.9.0" targetFramework="net47" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="3.9.0" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="NHentaiSharp" version="1.1.1" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net47" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net47" />
  <package id="System.Interactive.Async" version="4.0.0" targetFramework="net47" />
  <package id="System.Linq.Async" version="4.0.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net47" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
  <package id="Victoria" version="4.0.18" targetFramework="net47" />
</packages>